extends layout

block header
  div.logo.landerLogo
    h2= locals.name
    h3= locals.subhead

block content
  section.introSection.landerSection
    div.innerWrap
      p I'm a designer with 10 years of experience building brands and products. I'm also a web developer who loves the nitty gritty of fleshing out great ideas.

      .linkButtons 
        a(href="https://www.behance.net/ryancoledesigner" target="_blank").behance Portfolio
        a(href="https://github.com/askdesigners" target="_blank").github Github
        a(href="https://www.linkedin.com/in/ryancoledesigner" target="_blank").linkedin Linkedin
        a(href="/file/Ryan_Cole_CV.pdf" target="_blank").cv CV

  
  section.whatWeDo.landerSection
    h3 Let's work together
    div.innerWrap.clear
      .offerPoint
        img(src="img/webapp.svg" alt="Digital Product Design and Development")
        h5 Digital Product Design
        p Great ideas often start out pretty rough. I work closely with you to develop your idea into a product that your customers will adore.

      .offerPoint
        img(src="img/tinkertoy.svg" alt="Web Development")
        h5 Web Development
        p As a front-end and JS developer I use a modern toolset to build highly maintainable and functional websites and web applications. 

      .offerPoint
        img(src="img/steps.svg" alt="Digital Product Design and Development")
        h5 User Research
        p Your users are what make your business work. Check your assumptions about user needs against real data.

      .offerPoint
        img(src="img/wavyman.svg" alt="Digital Product Design and Development")
        h5 Concept Development
        p Design is way more than just visuals. I work to develop a deep conceptual framework for all aspects of my work.

  //- section.followUp.landerSection
  //-   div.innerWrap
  //-     h3 Let Your Data Sing
  //-     img(src="img/data.svg" alt="Analytics")
  //-     p Just because the project winds down doesn't mean the work is done. To help you keep your goals on track we offer a monthly reporting package. We’ll take care of interpreting your analytics data, and condensing everything down to an executive summary complete with action points. 

  section.contactForm.landerSection
    div.innerWrap
      h3 OMG YES
      div.wavyDivider
      p.form I'm currently available for freelance design and web development. Get in touch!
      form.form 
        label.fallBackLabel.
          Your email address
        input(type="email" required placeholder="Your email address")#email
        label.fallBackLabel.
          Give me a quick description of your project and I'll get back to you faster than a rabbit in a dog park.
        textarea(placeholder="Give me a quick description of your project and I'll get back to you faster than a rabbit in a dog park.")#message
        button.sendEnquiry.
          Say Hi
      div.thanks
        h3 Thanks for your enquiry
        h4 I'll get back to you soon!

block footScript

  script(src="js/lander.js")


